.todo-list {
  list-style-type: none;
  padding: 0;
  text-align: left;

  li {
    position: relative;
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: 0.75rem;

    label {
      display: block;
      margin-left: 0.5rem;
      width: 100%;
      cursor: pointer;
    }

    input {
      opacity: 0;
      width: 1px;
      height: 1px;
      position: absolute;
    }

    &.completed {
      &::after {
        display: block;
        content: '';
        width: 96%;
        height: 8px;
        position: absolute;
        background-color: rgba(#61dafb, 0.8);
        top: calc(50% - 8px / 2);
        left: 2%;
        pointer-events: none;
      }
    }
  }
}
